In [1]:
#import
import pandas as pd
import numpy as np
import os as os

In [2]:
#Setting data path
default_path = "/Users/nimeshvellera/Documents/201704-NMIMS-MTech-DS-Python/assignments"
os.chdir(default_path)

In [3]:
df = pd.read_csv("./patient-data.csv")

In [4]:
df.head()

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate
0,AC/AH/001,"Demetr,ius",White,Male,False,182.87,76.57,1972-01-31,"Georgia,xxx",Dog,2,False,2015-11-25
1,AC/AH/017,Rosario,White,Male,False,179.12,80.43,1972-06-09,Missouri,Dog,2,False,2015-11-25
2,AC/AH/020,Julio,Black,Male,False,169.15,75.48,1972-07-03,Pennsylvania,None,2,False,2015-11-25
3,AC/AH/022,Lupe,White,Male,False,175.66,94.54,1972-08-11,Florida,Cat,1,False,2015-11-25
4,AC/AH/029,Lavern,White,Female,False,164.47,71.78,1973-06-06,Iowa,NaN,2,True,2015-11-25

This is a mark down cell. This is how to insert text in between

In [5]:
print(df.columns)

Index(['ID', 'Name', 'Race', 'Gender', 'Smokes', 'HeightInCms', 'WeightInKgs',
       'BirthDate', 'State', 'Pet', 'HealthGrade', 'Died', 'RecordDate'],
      dtype='object')