In [81]:
#import
import numpy as np
import pandas as pd
import os as os

In [82]:
default_path = "/Users/nimeshvellera/Documents/201704-NMIMS-MTech-DS-Python/26417/"
os.chdir(default_path)

In [83]:
df = pd.read_csv("./weather-data.csv")

In [84]:
df.head()

   Month  Day  Ozone  Solar  Wind  Temp
0      5    1   41.0  190.0   7.4  67.0
1      5    2   36.0  118.0   NaN  72.0
2      5    3   12.0  149.0  12.6  74.0
3      5    4   18.0  313.0  11.5  62.0
4      5    5    NaN    NaN  14.3  56.0

In [85]:
print(df.columns)

Index(['Month', 'Day', 'Ozone', 'Solar', 'Wind', 'Temp'], dtype='object')

In [86]:
#impute with preceeding and succeeding value
indexO = df['Ozone'].index[df['Ozone'].apply(np.isnan)]
indexS = df['Solar'].index[df['Solar'].apply(np.isnan)]

In [87]:
#impute with preceeding 5 and succeeding 5 values
indexW = df['Wind'].index[df['Wind'].apply(np.isnan)]
indexT = df['Temp'].index[df['Temp'].apply(np.isnan)]

In [88]:
df['Ozone'].index[df['Ozone'].apply(np.isnan)]

Int64Index([  4,   9,  24,  25,  26,  31,  32,  33,  34,  35,  36,  38,  41,
             42,  44,  45,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
             64,  71,  74,  82,  83, 101, 102, 106, 114, 118, 149],
           dtype='int64')

In [89]:
for i in indexO:
    df.ix[i, 'Ozone'] = np.mean([df.ix[i-1,'Ozone'], next((item for item in df['Ozone'] if item is not None), 'All are Nones')])

In [90]:
df['Ozone'].index[df['Ozone'].apply(np.isnan)]

Int64Index([], dtype='int64')

In [91]:
df['Solar'].index[df['Solar'].apply(np.isnan)]

Int64Index([4, 5, 10, 26, 95, 96, 97], dtype='int64')

In [92]:
for i in indexS:
    df.ix[i, 'Solar'] = np.mean([df.ix[i-1,'Solar'], next((item for item in df['Solar'] if item is not None), 'All are Nones')])

In [93]:
df['Solar'].index[df['Solar'].apply(np.isnan)]

Int64Index([], dtype='int64')

In [94]:
df['Wind'].index[df['Wind'].apply(np.isnan)]

Int64Index([1, 48, 152], dtype='int64')

In [95]:
df.head()

   Month  Day  Ozone  Solar  Wind  Temp
0      5    1   41.0  190.0   7.4  67.0
1      5    2   36.0  118.0   NaN  72.0
2      5    3   12.0  149.0  12.6  74.0
3      5    4   18.0  313.0  11.5  62.0
4      5    5   29.5  251.5  14.3  56.0

In [108]:
print(df.ix[:47,4].tail(5))
print(df.iloc[49:,4].head(5))

43     8.0
44    13.8
45    11.5
46    14.9
47    20.7
Name: Wind, dtype: float64
49    11.5
50    10.3
51     6.3
52     1.7
53     4.6
Name: Wind, dtype: float64

In [97]:
np.mean([df.iloc[:48,4].tail(5), df.iloc[49:,4].head(5)])

10.33

In [98]:
df['Wind'].index[df['Wind'].apply(np.isnan)]

Int64Index([1, 48, 152], dtype='int64')

In [107]:
for i in indexW:
    print("Here")
    df.ix[i, 4] = np.mean([df.ix[:i-1,4].tail(5), df.ix[i+1:,4].head(5)])

Here

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
df['Wind'].index[df['Wind'].apply(np.isnan)]